<!-- CID: <%= file.cid %>
<a href="https://ipfs.io/ipfs/<%=file.cid%>">https://ipfs.io/ipfs/<%=file.cid%></a>
Data: <%= data %> -->

<html class="no-js" lang="zxx"><head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Passed Data</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="">
    
    <link rel="stylesheet" href="https://preview.uideck.com/items/cryptoland/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://preview.uideck.com/items/cryptoland/assets/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="https://preview.uideck.com/items/cryptoland/assets/css/animate.css" />
    <link rel="stylesheet" href="https://preview.uideck.com/items/cryptoland/assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="https://preview.uideck.com/items/cryptoland/assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="https://preview.uideck.com/items/cryptoland/assets/css/main.css" />
        <style type="text/css">@font-face { font-family: Roboto; src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf"); }</style></head>
    <body data-new-gr-c-s-check-loaded="14.1058.0" data-gr-ext-installed="">
    <!--[if lte IE 9]>
          <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="https://browsehappy.com/">upgrade your browser</a> to improve
            your experience and security.
          </p>
        <![endif]-->
    
    <div class="preloader" style="opacity: 0; display: none;">
    <div class="preloader-inner">
    <div class="preloader-icon">
    <span></span>
    <span></span>
    </div>
    </div>
    </div>
    
    
    
    
    
    
    
    
    <div class="account-login section">
    <div class="container">
    <div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-12">
    <form class="card login-form inner-content" method="post">
    <div class="card-body">
    <div class="title">
    <h3>View Report</h3>
    </div>
    
    
    <div class="input-head">
    <div class="row">
    <div class="col-lg-6 col-12">
    
     </div>
    
    </div>
    <p>CID</p>

    <div class="form-group input-group">
    <label><i class=""></i></label>
    <input class="form-control" type="" placeholder="<%= file.cid %>" required="">
    </div>

    <p>IPFS</p>

    <br><span><a href="https://ipfs.io/ipfs/<%=file.cid%>">https://ipfs.io/ipfs/<%=file.cid%></a>
    </span>


    <p style="padding-top: 20px;">Passed Data</p>

    <div class="form-group input-group">
    <label><i class=""></i></label>
    <input class="form-control" type="" placeholder="<%= data %>" required="">
    </div>


</div>
    
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    
    
    
    
    
    
    
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/count-up.min.js"></script>
    <script src="assets/js/main.js"></script>
    
    </body><grammarly-desktop-integration data-grammarly-shadow-root="true"></grammarly-desktop-integration></html>